<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles/styles.css" rel="stylesheet">

        <title>Young Brothers Belt Order</title>

    </head>

    <body>
        <br><br>
        <div class="center">

            <h1>Young Brothers Belt Order</h1>
            <h4>{{date}}</h4>
            <br><br>
            <table>
                {% for i in range(4) %}
                    {% if junior[i+1] %}
                        <tr>
                            <th class="rank" colspan="2"> Junior {{ranks[i]}} Degree </th>
                        </tr>
                        <tr>
                            <th class="head">Name</th>
                            <th class="head">Size</th>
                        </tr>
                        {% for belt in junior[i+1] %}
                            <tr>
                                <td class="prod">{{ belt[0] }} {{ belt[1] }} </td>
                                <td class="prod">{{belt[2]}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if adult[i+1] %}
                        <tr>
                            <th class="rank" colspan="2"> Adult {{ranks[i]}} Degree </th>
                        </tr>
                        <tr>
                            <th class="head">Name</th>
                            <th class="head">Size</th>
                        </tr>
                        {% for belt in adult[i+1] %}
                            <tr>
                                <td class="prod">{{ belt[0] }} {{ belt[1] }}</td>
                                <td class="prod">{{belt[2]}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% for i in range(3) %}
                    {% if adult[i+5] %}
                        <tr>
                            <th class="rank" colspan="2"> Adult {{ranks[i + 4]}} Degree </th>
                        </tr>
                        <tr>
                            <th class="head">Name</th>
                            <th class="head">Size</th>
                        </tr>
                        {% for belt in adult[i+5] %}
                            <tr>
                                <td class="prod">{{ belt[0] }} {{ belt[1] }}</td>
                                <td class="prod">{{belt[2]}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
